.message{
    padding: 10px;
    margin-bottom : 10px;
    width: fit-content;
}

.message:nth-last-child(1){
    margin-bottom: 110px;
}

.message__user{
    margin-left: auto;
    color: white;
    text-align: left !important; 
}

.message__userCard{
    background-color: #0b81ff !important;;
}


.message__guestCard{
    background-color: #e9e9eb !important;;
}